.container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;

  display: grid;
  grid-template-columns: auto 100px;
  grid-template-rows: auto;
  grid-template-areas: "main sidebar";

  &:nth-child(1) {
    grid-area: main;
  }

  &:nth-child(2) {
    grid-area: sidebar;
  }

  &.hidden {
    display: none;
  }
}

.bingo-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  column-gap: 5px;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  row-gap: 5px;
  padding: 1em;

  & div {
    display: flex;
    & div {
      width: 100%;
      align-self: center;
      justify-content: center;
    }
  }
}

.sidebar {
  & .grids {
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
    align-content: flex-start;

    & .opponent {
      display: flex;
      flex-wrap: wrap;
      width: 25px;
      height: 25px;

      & div {
        width: 5px;
        height: 5px;
      }
    }
  }
}

[data-state="off"] {
  background-color: lightgray;
}
[data-state="on"] {
  background-color: lightgreen;
}
